<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension-point id="org.yakindu.sct.generator.core.generator" name="SCT Generator" schema="schema/generator.exsd"/>
  <extension-point id="org.yakindu.sct.generator.core.featuretypes" name="GenModel Feature Types" schema="schema/featuretypes.exsd"/>
  <extension-point id="org.yakindu.sct.generator.core.extensions" name="File Extension Mapping" schema="schema/extensions.exsd"/>
 <extension
         point="org.yakindu.sct.generator.core.featuretypes">
      <FeatureLibrary
            library_id="org.yakindu.generator.core.features"
            defaultProvider="org.yakindu.sct.generator.core.features.impl.CoreLibraryDefaultFeatureValueProvider"
            uri="platform:/plugin/org.yakindu.sct.generator.core/library/CoreFeatureTypeLibrary.xmi">
      </FeatureLibrary>
      <FeatureLibrary
            library_id="org.yakindu.generator.core.features.generic"
            defaultProvider="org.yakindu.sct.generator.core.features.impl.GenericJavaLibraryDefaultValueProvider"
            uri="platform:/plugin/org.yakindu.sct.generator.core/library/GenericJavaFeatureTypeLibrary.xmi">
   	  </FeatureLibrary>   	  
   	  <FeatureLibrary
            library_id="org.yakindu.generator.core.features.sctbase"
            defaultProvider="org.yakindu.sct.generator.core.features.impl.SCTBaseLibaryDefaultFeatureValueProvider"
            uri="platform:/plugin/org.yakindu.sct.generator.core/library/SCTBaseFeatureLibrary.xmi">
   	  </FeatureLibrary>
 </extension>
     <extension
       point="org.eclipse.core.runtime.preferences">
    	<initializer class="org.yakindu.sct.generator.core.preferences.GenModelPreferenceInitializer">
    	</initializer>
 	</extension>
</plugin>
